body {
    background-image: url("images/background.png");
  }
  .bar {
    height: 70px;
    width: 1280px;
    margin-top: -8px;
    margin-left: -8px;
  }
  .logo {
    position: absolute;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    top: 6px;
  }
  .info {
    position: absolute;
    top: 5px;
    left: 400px;
    height: 55px;
    width: 122px;
    border-radius: 15px;
  }
  .Blitz {
    position: absolute;
    top: 25px;
    left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(211,211,211,255);
    text-decoration: none;
    transition: all 0.16s linear;
  }
  .Blitz:hover {
    color: #74a89b;
  }
  .Prices {
    position: absolute;
    top: 28px;
    left: 680px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: rgb(211,211,211,255);
    text-decoration: none;
    transition: all 0.16s linear;
  }
  .Prices:hover {
    color: #74a89b;
  }
  .prices:visited {
    color: #74a89b;
  }
  .Home {
    position: absolute;
    top: 25px;
    left: 530px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(211,211,211,255);
    text-decoration: none;
    transition: all 0.16s linear;
  }
  .Home:hover {
    color: #74a89b;
  }
  .Dashboard {
    position: absolute;
    top: 25px;
    left: 585px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #74a89b;
    text-decoration: none;
    transition: all 0.16s linear;
  }
  .Saturn {
    position: absolute;
    top: 20px;
    left: 0px;
    height: 36px;
    width: 56px;
  }
  .Discord {
    position: absolute;
    top: 25px;
    left: 1200px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #7289da;
    text-decoration: none;
    transition: all 0.16s linear;
  }
  .Discord:hover {
    color:white;
  }